<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "header.html" . }}
    <div class="container" id="main">
        <article role="article" id="blog-archives">
            <table style="margin: 2px auto;">
                {{ $prev := 3000}}
                {{range .Site.RegularPages}}
                {{if .Date}}
                {{if gt $prev (.Date.Format "2006")}}
                {{ if ne $prev 3000}}
            </table>
            {{ end }}
            <h2 style="text-align: center;">{{ .Date.Format "2006" }}</h2>
            <table style="margin: 2px auto;">
                {{end}}
                <tr>
                    <td>{{.Date.Format "02 Jan"}}</td>
                    <td><a class="no-underline" href="{{.Permalink}}">{{.Title}}</a></td>
                </tr>
                {{ $prev = .Date.Format "2006"}}
                {{end}}
                {{end}}
            </table>
        </article>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>